################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/TF/packages
/TF/test/TF.DAL.Test/obj/Debug
/TF/test/TF.Web.API.Test/obj/Debug
/TF/src/TF.Web.Proxy/obj/Debug
/TF/src/TF.Web.API/obj/Debug
/TF/src/TF.Web.API/bin/Debug
/TF/src/TF.DAL/obj/Debug
/TF/src/TF.Data/obj/Debug
/TF/src/TF.DAL/bin/Debug
/TF/src/TF.Data/bin/Debug
/TF/src/TF.Web.Proxy/bin/Debug
/TF/test/TF.DAL.Test/bin/Debug
/TF/test/TF.Web.API.Test/bin/Debug
/TF.DAL/src/TF.DAL.CategoryTreeService/bin/Debug
/TF.DAL/src/TF.DAL.CategoryTreeService/obj/Debug
/TF.Data.Business/src/TF.Data.Business.CategoryTree/obj/Debug
/TF.Data.Business/src/TF.Data.Business.CategoryTree/bin/Debug
/TF.DAL
/TF.Data.Business
/TF/artifacts/bin/TF.Web.Core.v2/Debug
/TF/src/TF.Data.Systems.IO.FileStorage/bin/Debug
/TF/src/TF.Data.Systems.IO.FileStorage/obj/Debug
/TF/test/TF.Data.Systems.IO.FileStorage.Test/bin/Debug
/TF/test/TF.Data.Systems.IO.FileStorage.Test/obj/Debug
/TF/src/TF.Web.OData/bin
/TF/src/TF.Web.OData/obj/Debug
/TF/src/TF.DAL/obj/Release
/TF/src/TF.DAL/bin/Release
/TF/src/TF.Data/obj/Release
/TF/src/TF.Data/bin/Release
/TF/src/TF.Data.Systems.IO.FileStorage/obj/Release
/TF/src/TF.Web.API/obj/Release
/TF/src/TF.Web.OData/obj/Release
/TF/src/TF.Web.Proxy/obj/Release
/TF/test/TF.DAL.Test/obj/Release
/TF/test/TF.Data.Systems.IO.FileStorage.Test/obj/Release
/TF/test/TF.Web.API.Test/obj/Release
