################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/TF/packages
/TF/src/TF.DAL/bin/Debug
/TF/src/TF.Data/bin/Debug
/TF/src/TF.DAL/obj/Debug
/TF/src/TF.Data/obj/Debug
/TF/src/TF.Web.API/bin/Debug
/TF/src/TF.Web.API/obj/Debug
/TF/src/TF.Web.Proxy/bin/Debug
/TF/src/TF.Web.Proxy/obj/Debug
/TF/test/TF.DAL.Test/bin/Debug
/TF/test/TF.DAL.Test/obj/Debug
/TF/test/TF.Web.API.Test/bin/Debug
/TF/test/TF.Web.API.Test/obj/Debug
/TF/.vs
